:root {
  --blackish: #111;
  --pinkish: #f63954;
  --blueish: #3cbace;
  --pinkish--translucent: rgb(246, 57, 84, 0.1);
  --muted-white: #dfdbdb;
  --khaki: #f0e68cad;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
}

section {
  position: relative;
  padding: 1rem;
}

.ama {
  padding-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

p {
  margin-bottom: 1rem;
}

ul {
  margin: 1.5rem 0;
}

li {
  display: block;
  width: 100%;
}

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 1rem;
  background: var(--muted-white);
}

.container > .inner {
  max-width: 800px;
  margin: 0 auto;
}

.dreaming-forward .container {
  background: var(--blueish);
}

.pill,
.tags > span {
  border-radius: 1rem;
  display: inline-block;
  margin-top: 0.5rem;
}

.bg-green {
  background: #09f909;
}

.bg-blue {
  background: #a5a5f3;
}

.bg-amber {
  background: #ffff00;
}

.bg-pink {
  background: var(--pinkish);
}

.asterisk {
  color: var(--pinkish);
  font-size: 1rem;
  font-weight: 900;
}

.footnote {
  font-size: 0.96rem;
}

header {
  height: 100vh;
  background: linear-gradient(to right top, var(--pinkish), var(--blueish));
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero,
.hero-inner {
  min-height: 88vh;
  width: 80vw;
  max-width: 1024px;
}

.hero {
  position: relative;
  padding: 2rem 0;
  text-align: center;
}

.hero-inner {
  background: var(--pinkish--translucent);
  background: linear-gradient(
    to left bottom,
    rgba(246, 57, 84, 0.9),
    rgba(246, 57, 84, 0.3),
    rgba(246, 57, 84, 0.2),
    rgba(246, 57, 84, 0.2),
    rgba(246, 57, 84, 0.2),
    rgba(246, 57, 84, 0.1),
    rgba(246, 57, 84, 0.1),
    rgba(246, 57, 84, 0.1)
  );
  padding-top: 2rem;
  border-radius: 1rem;
  position: relative;
  z-index: 1;
  -webkit-backdrop-filter: blur(0.6rem);
  backdrop-filter: blur(0.6rem);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-top: 2px solid rgba(255, 255, 255, 0.15);
  border-left: 2px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

.circle {
  background: white;
  height: 48vmin;
  width: 48vmin;
  max-height: 240px;
  max-width: 240px;
  position: absolute;
  border-radius: 50%;
}

.circle.one {
  top: 0;
  left: 0;
  transform: translate(-44%, -44%);
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.1)
  );
}

.circle.two {
  bottom: 0;
  right: 0;
  transform: translate(44%, 44%);
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.1)
  );
}

.circle.three,
.circle.four {
  height: 12vmin;
  width: 12vmin;
  max-height: 40px;
  max-width: 40px;
  opacity: 0.4;
}

.circle.three {
  top: 12%;
  right: 12%;
}

.circle.four {
  bottom: 12%;
  left: 12%;
}

.hero .faceshot {
  width: 60vw;
  max-width: 320px;
  border-radius: 50%;
  margin-bottom: 0.75rem;
}

.hero .name-wrapper {
  gap: 8px;
  position: relative;
}

.name-wrapper .pronunciation {
  position: absolute;
  top: -5px;
  left: 100%;
  border: none;
  border-radius: 50%;
  padding: 4px;
  margin-left: 5px;
  cursor: pointer;
}

.no-js .pronunciation {
  display: none;
}

.pronunciation {
  background-color: var(--muted-white);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.pronunciation.playing {
  background-color: rgba(60, 186, 206, 0.6);
  animation: breathing 0.85s ease-in-out infinite;
}

@keyframes breathing {
  0%,
  100% {
    transform: scale(0.9);
    filter: brightness(100%);
    background-color: rgba(60, 186, 206, 0.6);
    box-shadow: 0 0 5px rgba(60, 186, 206, 0.3);
  }
  50% {
    transform: scale(1.1);
    filter: brightness(120%);
    background-color: rgba(60, 186, 206, 0.9);
    box-shadow: 0 0 15px rgba(60, 186, 206, 0.8);
  }
}

.pronunciation img {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
}

.hero .name {
  text-transform: uppercase;
  font-variant: small-caps;
  margin-bottom: 0;
}

.hero .tagline {
  margin-bottom: 0.75rem;
}

.hero .links {
  display: flex;
}

.hero .link {
  width: 2.25rem;
  height: 2.25rem;
  padding: 0.35rem;
  margin: 0.25rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
}

.hero .link:hover {
  background: rgba(255, 255, 255, 0.8);
}

.hero .link img {
  width: 100%;
}

.intro {
  background: var(--blackish);
  padding-top: 1.5rem;
}

.personal-projects {
  padding-bottom: 1.5rem;
}

.association,
.dreaming-forward,
.skills,
.contributions,
.personal-projects,
.to-future-employer,
.ama {
  background: var(--blackish);
}

.intro,
.association,
.dreaming-forward,
.skills h2,
.skills p,
.contributions h2,
.contributions h3 {
  text-align: center;
}

.association ul,
.skills ul,
.contributions ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.association li,
.skills > li,
.contributions .card {
  background: #2d2d2d04;
  color: black;
}

.skills ul,
.contributions .card {
  margin: 0.5rem 0;
}

.association li {
  width: 100%;
  padding: 0.75rem 0;
  border: 1px solid #0002;
}

@media (min-width: 754px) {
  .association li {
    width: calc(50% - 0.35rem);
    margin-top: 0.35rem;
    margin-bottom: 0.35rem;
  }

  .association li:nth-of-type(2n + 1) {
    margin-right: 0.35rem;
  }

  .association li:nth-of-type(2n) {
    margin-left: 0.35rem;
  }

  .association li:first-of-type,
  .association li:nth-of-type(2) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.association li:not(:last-of-type) {
  border-bottom: none;
}

@media (min-width: 754px) {
  .association li:not(:last-of-type) {
    border-bottom: 1px solid #0002;
  }
}

.skills li.group {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0 0.55rem;
  border: 1px solid #0002;
  background: #2d2d2d04;
}

@media (min-width: 754px) {
  .skills li.group {
    width: calc(50% - 0.35rem);
  }

  .skills li.py {
    order: 0;
    margin-right: 0.35rem;
  }

  .skills li.js.html.css {
    order: 1;
    margin-left: 0.35rem;
    margin-bottom: auto;
  }

  .skills li.hs {
    order: 2;
    margin-right: 0.35rem;
    margin-bottom: 0;
  }

  .skills li.ex {
    order: 3;
    margin-left: 0.35rem;
    margin-bottom: 0;
  }

  .skills li.rs {
    order: 4;
    margin-right: 0.35rem;
    margin-bottom: 0;
  }

  .skills li.go {
    order: 5;
    margin-left: 0.35rem;
    margin-bottom: 0;
  }
}

.skills li.group ul {
  margin: 0;
}

.skills li.group li {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.75rem 0.25rem 0.4rem;
  border-bottom: 1px solid #0003;
}

.skills li.group li:last-of-type {
  border-bottom: none;
}

.contributions h2,
.personal-projects h2 {
  margin-bottom: 0.25rem;
}

.contributions .container.main {
  padding-bottom: 1.75rem;
}

.contributions h3,
.to-future-employer h3 {
  color: #000a;
}

.contributions .card {
  padding: 0.75rem;
  border: 1px solid #0002;
}

.contributions .stats {
  font-size: 0.9rem;
}

.contributions .stats div {
  display: flex;
  align-items: center;
  margin-bottom: 0.35rem;
}

.contributions .stats h5 {
  min-width: 6rem;
  margin: 0 0.25rem 0 0;
  font-size: 0.9rem;
}

.contributions .stats span {
  padding: 0.1rem 1rem;
}

.contributions .contributions-url {
  display: flex;
}

.contributions-url a:not(:nth-of-type(1)) {
  margin-left: 1rem;
}

section.contributions .honorable-mentions {
  padding-top: 1.5rem;
  position: relative;
}

section.contributions .honorable-mentions:before {
  display: block;
  content: "";
  background: black;
  width: 4rem;
  height: 0.4rem;
  position: absolute;
  z-index: 2;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.honorable-mentions h3 {
  margin-bottom: 0.5rem;
}

.honorable-mentions .card-wrap {
  display: flex;
  justify-content: center;
}

.honorable-mentions li {
  width: 50%;
  padding: 0.25rem;
}

.honorable-mentions li:nth-of-type(2n + 1) {
  padding-left: 0;
}

.honorable-mentions li:nth-of-type(2n) {
  padding-right: 0;
}

.honorable-mentions li:last-child {
  width: 60%;
  padding: 0.25rem 0;
}

.honorable-mentions .card {
  margin: 0;
  height: 100%;
}

.personal-projects h2 {
  text-align: center;
}

.personal-projects ul {
  margin-top: 0.75rem;
}

.personal-projects li {
  margin-bottom: 2rem;
}

.personal-projects h3 {
  margin-bottom: 0.25rem;
}

.personal-projects .tags,
.personal-projects p {
  margin-bottom: 0.5rem;
}

.tags > span {
  font-size: 0.8rem;
  /* font-weight: 600; */
  padding: 0.25rem 0.75rem;
}

.tags .python {
  background: rgb(5, 118, 199);
}

.tags .django {
  background: #3e973e;
}

.tags .api-design,
.tags .face-recog,
.tags .starlette {
  background: #ffff00;
}

.tags .rest {
  background: var(--pinkish);
}

.tags .tdd {
  background: #09f909;
}

.tags .async {
  background: #a5a5f3;
}

.tags .go {
  background: #47e0ff;
}
